@background-color: #00ff99;
@height: 550px;
@width: 950px;

body {
  background: @background-color;
}
* {
  margin: 0;
  padding: 0;
}
@media  only screen and (min-width: 768px) {
  .container {
    margin-top: 60px;
    display: flex;
    // border: 2px solid yellow;
    justify-content: space-around;
  }
}

.container div {
  // border: 2px solid aqua;
}
.box {
  flex-basis: 30%;
  justify-content: space-between;
}
.textborder {
  position: relative;
  top: 18px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.textborder:nth-last-child(2) {
  top: 0px;
}

section {
  width: @width;
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
}
h6 {
  text-transform: uppercase;
  color: red;
  margin-top: 12px;
}

