body {
  background: #00ff99;
}
* {
  margin: 0;
  padding: 0;
}
.textborder {
  position: relative;
  top: 18px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.textborder:nth-last-child(2) {
  top: 0px;
}
.part:nth-child(3) {
  position: relative;
  top: 45px;
}
section {
  background-color: black;
  height: 550px;
  width: 950px;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
section .part {
  position: relative;
  top: 80px;
  height: 275px;
  display: flex;
  justify-content: space-evenly;
}
section .part .divCol1 {
  width: 241.66666667px;
}
section .part .part2 {
  padding: 50px 10px 50px 10px;
}
section .part .divCol2 {
  text-align: justify;
  width: 316.66666667px;
}
section .part h6 {
  text-transform: uppercase;
  color: red;
  margin-top: 12px;
}
